<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>App</title>
</head>
<body>
    <div>
        <h1>Dane użytkownika</h1>
        <p th:text="${user.name}"></p>
        <p>Id</p> <p th:text="${user.id}"></p>
        <p>Age</p> <p th:text="${user.age}"></p>
        <span th:if="${user.age > 35}">Powyżej średniej</span>

        <p>UserType</p> <p th:text="${user.userType}"</p>

        <div th:switch="${user.userType}">
            <p th:case="${user.userType.GUEST}">GOŚĆ</p>
            <p th:case="${user.userType.REGISTERED}">ZAREJESTROWANY</p>
            <p th:case="${user.userType.ADMIN}">ADMIN</p>
            <p th:case="*">ERROR</p>
        </div>

        <p>RegistrationDate</p> <p th:text="${#dates.format(user.registrationDate, 'yyyy-MM-dd HH:mm')}"</p>
    </div>
    <div>
        <p>Czy artur na stronie: <span th:text="${user.name == 'Addrtur' ? 'tak' : 'nie'}"></span>   </p>
    </div>
    <div>
            <span th:switch="${user.age < 30 && user.getDiff(user.registrationDate) > 200 }">
                <span th:case="${true}">
                    <p> Witaj <span th:text="${user.name}"></span></p>
                    <p> Od twojej rejestracji minęło <span th:text="${user.getDiff(user.registrationDate)}"></span> dni</p>
                </span>
                <span th:case="${false}"></span>
            </span>
    </div>
</body>
</html>